html {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

span.break {
  display: block;
}

div.main {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.logo-type {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  h1 {
    padding: 1rem;
    max-width: 60%;
    min-height: 10vh;
  }
  .img {
    flex: 1;
    padding: 1rem;
    max-width: 40%;
    justify-content: center;
    align-items: center;
    align-content: center;
    img {
      max-height: 30vh;
    }
  }
}
section.about-me {
  flex-basis: 100%;
  padding: 1rem;
  margin: 1rem;
}