html {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div.recent-photos {
  display: flex;
}

div.photo-viewer {
  flex-grow: 1;
}
