<div class="main">
  <section class="header">
    <brandon-wordmark />
  </section>
  <section class="about-me">
    <about-me />
  </section>
</div>
<footer>
  <p>this website is a work in progress, and is built using
  <a href="http://glimmerjs.com">Glimmer</a> components</p>
</footer>
