<div class="brandon-wordmark">
  <div id="brandon">
    <div id="bran">BRAN</div>
    <div id="don">DON</div>
  </div>
  <div id="johnson">
    <div id="john">JOHN</div>
    <div id="son">SON</div>
  </div>
</div>
