<div id="about-me">
  <p>I am a research software engineer at a place called <a href="http://www.space150.com">space150</a>,
      organize <a href="http://javascriptmn.com">JavaScriptMN</a>, and maybe even do other things.</p>
  <div class="about-me--projects">
    <h3>recent projects</h3>
    <ul>
      <li>a website and native online ordering app using react/react-native.</li>
      <li>various prototypes and sketches using the ARKit framework.</li>
      <li>an API platform that processes thousands of complex transactions.</li>
      <li>a machine-learning assisted implementation of a method of scoring words for linguistic abstraction.</li>
      <li>many other things (ask me about them!)</li>
    </ul>
  </div>
  <div class="about-me--contact">
    <h3>say hey</h3>
    <ul>
      <li><a href="mailto:b+hi@johnsonmn.org">email</a></li>
      <li><a href="https://twitter.com/brandon_mn">twitter (@brandon_mn)</a></li>
      <li><a href="https://github.com/skylineproject">github (@skylineproject)</a></li>
    </ul>
  </div>
  <!--div class="about-me--random">
    <h3>other things</h3>
    <ul>
      <li>I like biking, and do it frequently (often to work, often everywhere)</li>
      <li></li>
    </ul>
  </div>-->
</div>
