<div id="about-me">
  <h1>hello</h1>
  <p>it is i, brandon, the person by and about whom this website was created.</p>
  <p>perhaps you are looking for the <a href="/">work that i do</a>, or
    <a href="/">a way to contact me</a>, or perhaps another thing.</p>
</div>
