<div id="about-me">
  <h1>hello</h1>
  <p>it is i, brandon, the person by and about whom this website was created.</p>
  <p>i am a research software engineer at a place called <a href="http://www.space150.com">space150</a>,
      manage <a href="http://javascriptmn.com">JavaScriptMN</a>, and probably do other things. say hey with
      <code>me at this website</code> or one of my various internet presences.</p>
</div>
