<div id="about-me">
  <p>I am a research software engineer at a place called <a href="http://www.space150.com">space150</a>,
      manage <a href="http://javascriptmn.com">JavaScriptMN</a>, and probably do other things.</p>
</div>
